spring:
  boot:
    admin:
      client:
        url: http://localhost:9090
  application:
    name: AdvPost
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: update
  profiles:
    active: secrets

interval: PT05M

management:
  endpoints:
    web:
      exposure:
        include: health, info, beans, configprops, env, heapdump, metrics, scheduledtasks, prometheus
  metrics:
    distribution:
      percentiles-histogram:
        "{http.server.requests}": true

server:
  port: 9090
